@tailwind base;
@tailwind components;
@tailwind utilities;


.image-item {
  transition: transform 0.3s ease-in-out;
}

.dragging {
  transform: scale(1.05);
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}